.DS_Store
node_modules
/dist
/dist的副本

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# mazey's dev
# /mazey-ui
# *.scss
# _*.css
# _*.css.map

.sass-cache
/.sass-cache/*
!/node_modules/element-ui/lib/*

# !/mazey-ui
# !/src/components/base/mazey-ui/src/js/index.js
