$color-test: #5f5f5f;
.rgb-test{
  color: rgb(120, 120, 120);
}
.color-lighten{
  color: lighten($color-test, 50%);
}
.color-darken{
  color: darken($color-test, 10%);
}
.color-darken-to-black{
  color: darken($color-test, 50%);
}